* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;

  background-color: #d8d8d8;
  font-size: 20px;
}
main {
  width: 1000px;
  background-color: white;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  padding: 50px;
}
nav {
  text-align: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.664);
  padding: 0px 20px 0px 0px;
}
.pip {
  text-align: center;
  color: #aaaaaa;
}
.blog {
  font-weight: lighter;
}
p {
  color: #aaaaaa;
}
.two img {
  width: 420px;
}

.bjoj {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 30px;
}
.date {
  color: #aaaaaa;
  margin: 20px 0px;
}
h4 {
  font-weight: 100;
  font-size: x-large;
}
button {
  padding: 12px 20px;
  background-color: #448ef6;
  color: white;
  border-radius: 30px;
  font-weight: lighter;
  border: none;
  font-size: large;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
footer {
  height: 600px;
  background-color: #000000;
  line-height: 1.8;
}
.foot {
  display: flex;
  justify-content: space-evenly;
  padding-right: 100px;
}
.foot > div > h2 {
  color: white;
  margin: 60px 0 30px 0;
  font-weight: lighter;
  font-size: 1.7em;
}
footer .foot > div > div > a {
  display: flex;
  color: white;
  padding: 10px 0px;
}
